/* CSS */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing {
  opacity: 0;
  animation: fadeInUp 5s ease forwards;
}
.features {
  opacity: 0;
  animation: fadeInUp 3s ease forwards;
}
